<div class="bg-gray-50 border border-gray-50 border-solid">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[18%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col grow px-7 pt-4 mx-auto w-full bg-white max-md:px-5">
        <div class="flex gap-4 items-start text-xl font-semibold leading-7 whitespace-nowrap text-indigo-950">
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f8959204d77142384cee398203d6cb34d93221df3b7687e27077de2e33c6db7b?apiKey=c8b4252b033249d692536aa940800487&"
            alt="Dabang logo" class="shrink-0 w-9 aspect-[1.39]" />
          <h1 class="flex-auto mt-3">Dabang</h1>
        </div>
        <nav class="flex flex-col self-start px-2.5 pt-2.5 mt-7 ml-2.5">
          <div class="flex flex-col">
            <div class="flex flex-col justify-center px-12 py-5 max-md:px-5">
              <div class="flex justify-center items-center py-2 pr-6 pl-2 rounded-xl bg-slate-500 max-md:pr-5">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c71ec48bc58e9307cda4422c979b62b47fdf0410f4de09279d0288e5f6735dee?apiKey=c8b4252b033249d692536aa940800487&"
                  alt="User icon" class="w-4 aspect-square" />
              </div>
            </div>
            <ul
              class="flex flex-col px-5 pt-1.5 pb-5 mt-11 text-sm font-semibold whitespace-nowrap text-slate-500 max-md:mt-10">
              <li>Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
              <li class="mt-5">Leaderboard</li>
            </ul>
          </div>
        </nav>
      </div>
    </aside>
    <main class="flex flex-col ml-5 w-[82%] max-md:ml-0 max-md:w-full">
      <div class="flex flex-col max-md:max-w-full">
        <header class="shrink-0 bg-white h-[77px] max-md:max-w-full"></header>
        <section class="flex flex-col mt-5 ml-5 max-w-full w-[838px]">
          <div
            class="flex flex-col flex-wrap gap-y-7 justify-between content-center items-start py-5 pr-3 pl-6 bg-white rounded-xl border border-gray-50 border-solid shadow-sm max-md:pl-5 max-md:max-w-full">
            <h2 class="text-sm font-semibold leading-5 text-indigo-950">Today's Sales</h2>
            <p class="mt-2.5 text-xs leading-5 text-slate-500">Sales Summery</p>
            <div
              class="flex gap-5 self-stretch pr-20 mt-8 font-medium whitespace-nowrap leading-[133%] max-md:flex-wrap max-md:pr-5">
              <div class="flex flex-col flex-1 justify-center">
                <div class="flex flex-col py-3.5 pr-7 pl-3.5 bg-rose-100 rounded-xl h-[117px] w-[117px] max-md:pr-5">
                  <img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ddc280507c5a670dab9548e5d28d2bf36fc454223d6e0fa8a5a9c4b373176c93?apiKey=c8b4252b033249d692536aa940800487&"
                    alt="Total sales icon" class="aspect-[0.96] w-[25px]" />
                  <p class="mt-3.5 text-base font-semibold text-indigo-950">$1k</p>
                  <p class="mt-3 text-xs leading-4 text-slate-600">Total Sales</p>
                  <p class="mt-3 text-xs text-blue-500">+8% from yesterday</p>
                </div>
              </div>
              <div class="flex flex-col flex-1 justify-center">
                <div class="flex flex-col py-3.5 pr-7 pl-3.5 bg-orange-100 rounded-xl h-[117px] w-[117px] max-md:pr-5">
                  <img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/2014927037719e4f748cb24284bfc152f5351eac48376af468d0fbc8d2647701?apiKey=c8b4252b033249d692536aa940800487&"
                    alt="Total orders icon" class="aspect-[0.96] w-[25px]" />
                  <p class="mt-3.5 text-base font-semibold text-indigo-950">300</p>
                  <p class="mt-3.5 text-xs leading-4 text-slate-600">Total Order</p>
                  <p class="mt-3 text-xs text-blue-500">+5% from yesterday</p>
                </div>
              </div>
              <div class="flex flex-col flex-1 justify-center">
                <div class="flex flex-col p-3.5 bg-green-100 rounded-xl h-[117px] w-[117px] max-md:pr-5">
                  <img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/be1891b9de4c09c62c1a383e824bb6e0f14c477fdfc7e3f40da16163e776198b?apiKey=c8b4252b033249d692536aa940800487&"
                    alt="Products sold icon" class="aspect-[0.96] w-[25px]" />
                  <p class="mt-4 text-base font-semibold text-indigo-950">5</p>
                  <p class="mt-3.5 text-xs leading-4 text-slate-600">Product Sold</p>
                  <p class="mt-3 text-xs text-blue-500">+1,2% from yesterday</p>
                </div>
              </div>
              <div class="flex flex-col flex-1 justify-center">
                <div class="flex flex-col p-3.5 bg-purple-100 rounded-xl h-[117px] w-[117px] max-md:pr-5">
                  <img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/7568296d6a767ba8d8e31fdf00a3310a1dfb8ffb9e553662b4b655fde5862afc?apiKey=c8b4252b033249d692536aa940800487&"
                    alt="New customers icon" class="aspect-square w-[26px]" />
                  <p class="mt-3.5 text-base font-semibold text-indigo-950">8</p>
                  <p class="mt-3.5 text-xs leading-4 text-slate-600">New Customers</p>
                  <p class="mt-3 text-xs text-blue-500">0,5% from yesterday</p>
                </div>
              </div>
              <div class="flex flex-col flex-1 justify-center">
                <div class="flex flex-col p-3.5 bg-purple-100 rounded-xl h-[117px] w-[117px] max-md:pr-5">
                  <img
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3a26751c2a2129eb6ad6b8cdb771778096c2febc097c530a51f213a8c90d5bb?apiKey=c8b4252b033249d692536aa940800487&"
                    alt="New customers icon" class="aspect-square w-[26px]" />
                  <p class="mt-3.5 text-base font-semibold text-indigo-950">8</p>
                  <p class="mt-3.5 text-xs leading-4 text-slate-600">New Customers</p>
                  <p class="mt-3 text-xs text-blue-500">0,5% from yesterday</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex overflow-hidden relative flex-col justify-center items-center px-16 py-5 mt-6 w-full min-h-[166px] max-md:px-5 max-md:max-w-full">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/2009c2eb69bfffb624645c7d53f485d260936a3c436b77c980acbc2cdbd08851?apiKey=c8b4252b033249d692536aa940800487&"
              alt="" class="object-cover absolute inset-0 size-full" />
            <div class="flex relative justify-center items-center px-16 py-5 max-w-full w-[510px] max-md:px-5">
              <div class="flex flex-col w-[92px]">
                <div class="flex flex-col justify-center text-center">
                  <h3 class="text-sm font-semibold leading-5 text-white whitespace-nowrap">Dabang Pro</h3>
                  <p class="mt-1.5 text-xs font-medium leading-3 text-white text-opacity-80">Get access to all features
                    on tetumbas</p>
                </div>
                <button
                  class="justify-center px-6 py-1.5 mt-5 text-xs font-semibold leading-4 text-indigo-500 whitespace-nowrap bg-white rounded-md max-md:px-5">Get
                  Pro</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>

<router-outlet />